[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "==3.7.1"
asgiref = "==3.8.1"
click = "==8.1.7"
fastapi = "==0.75.2"
httptools = "==0.6.4"
idna = "==3.10"
pydantic = "==1.10.18"
sniffio = "==1.3.1"
starlette = "==0.17.1"
typing-extensions = "==4.12.2"
uvicorn = "==0.34.0"
uvloop = "==0.20.0"
watchgod = "==0.8.2"
websockets = "==12.0"
httpx = {extras = ["http2"], version = "==0.27.*"}
asgi-correlation-id = "==3.0.0"
sentry-sdk = "==2.14.0"
starlette-prometheus = "==0.10.0"
structlog = "==24.4.0"
circuitbreaker = "==2.0.0"
secure = "==0.3.0"

[dev-packages]
pycodestyle = "==2.12.1"
pytest = "==8.3.3"
python-dotenv = "==1.0.1"
requests = "==2.32.3"
pytest-cov = "==6.0.0"
respx = "==0.20.2"
pytest-asyncio = "==0.24.0"
[requires]
python_version = "3.11"
