[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "==3.5.0"
asgiref = "==3.5.0"
click = "==8.1.2"
fastapi = "==0.75.2"
httptools = "==0.4.0"
idna = "==3.3"
pydantic = "==1.9.0"
sniffio = "==1.2.0"
starlette = "==0.17.1"
typing-extensions = "==4.1.1"
uvicorn = "==0.17.6"
uvloop = "==0.16.0"
watchgod = "==0.8.2"
websockets = "==10.2"
PyYAML = "==6.0"
httpx = "==0.22.*"

[dev-packages]
pycodestyle = "==2.8.0"
pytest = "==7.1.1"
python-dotenv = "==0.20.0"
requests = "==2.27.1"
pytest-cov = "==3.0.0"
respx = "==0.19.2"
pytest-asyncio = "==0.18.3"

[requires]
python_version = "3.10"
